<app-greeter
  <% Object.entries(locals?.props || {}).forEach(([k, v]) => { %>
    <%= k %>="<%= v %>"
  <% }) %>
>
  <template shadowrootmode="open">
    <input type="text" placeholder="Enter your name" id="input" />
    <p id="output" part="output"></p>
  </template>
</app-greeter>
