<app-greeter default-name="<%= locals?.defaultName %>">
  <template shadowrootmode="open">
    <input type="text" placeholder="Enter your name" id="input" />
    <p id="output"></p>
  </template>
</app-greeter>
